@layer components {
.hero {
  display: grid;
  align-items: center;
  position: relative;
  overflow: hidden;
  inline-size: 100%;
  block-size: clamp(50rem, 60dvh, 65rem);
}

.imageWrapper {
  inline-size: 100%;
  block-size: 100%;
  display: grid;
  grid-area: 1 / 1;
  z-index: var(--z-index-floor);
}

/* position absolute and inset solve image blowing past imageWrapper */
.heroImage {
  position: absolute;
  inset: 0;
  inline-size: 100%;
  block-size: 100%;
  max-width: none;
  object-fit: cover;
  object-position: 80% 50%;
}

.imageWrapper::after {
  position: absolute;
  inset: 0;
  inline-size: 100%;
  content: "";
  background-image: linear-gradient(
    rgb(10 10 10 / 50%),
    rgb(10 10 10 / 90%)
  );
  z-index: var(--z-index-floor);

}

.container {
  grid-area: 1 / 1;
  inline-size: 100%;
  max-inline-size: 144rem;
  gap: var(--space-md);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: var(--z-index-header);
  padding-inline: var(--space-md);
}

.heading {
  font-weight: 700;
  font-size: var(--fs-hero);
  color: var(--color-text-primary);
}

.subHeading {
  color: var(--color-text-primary);
  font-size: var(--fs-md);
  max-inline-size: 60rem;
}

.actionNowContainer {
  display: flex;
  background-color: inherit;
  border: none;
  gap: var(--space-sm)
}

.shopNow,
.exploreNow {
  background-color: inherit;
  padding-inline: var(--space-xs);
  padding-block: var(--space-xs);
  border-radius: 0.4rem;
  font-weight: 700;  
  cursor: pointer;
  min-block-size: 4.4rem;
  transition: background-color var(--transition-smooth, 0.2s ease-in-out), 
  border-color var(--transition-smooth, 0.2 ease-in-out);

}

.shopNow {
  color: var(--color-accent);
  border: solid 0.1rem var(--color-accent);
}

.shopNow:hover {
  background-color: var(--color-accent);
  color: var(--color-bg)
}

.exploreNow {
  color: var(--color-accent-muted);
  border: solid 0.1rem var(--color-bg-surface);
}

.exploreNow:hover {
  background-color: var(--color-border);
  color: var(--color-text-primary);
}

@media(width >= 76.8rem) {
  .hero {
    block-size: clamp(70rem, 80dvh, 90rem);
  }

    .container {
      gap: var(--space-md) 
  }

  .subHeading {
  color: var(--color-text-primary);
  font-size: var(--fs-lg);
}

    .actionNowContainer {
      gap: var(--space-lg);
    }

    .shopNow {
      padding-block: var(--space-xs);
      padding-inline: var(--space-md);
    }

    .exploreNow {
      padding-block: var(--space-xs);
      padding-inline: var(--space-md);
    }
      
  }
}
