@layer components {
.heroShell {
  display: grid;
  position: relative;
  overflow: hidden;
  align-items: center;
  inline-size: 100%;
  block-size: clamp(50rem, 60dvh, 65rem);
}

.imageViewer {
  inline-size: 100%;
  block-size: 100%;
  display: grid;
  grid-area: 1 / 1;
  z-index: var(--z-index-floor);
}

.showcaseAsset {
  position: absolute;
  inset: 0;
  inline-size: 100%;
  block-size: 100%;
  max-width: none;
  object-fit: cover;
  object-position: 80% 50%;
}

.imageViewer::after {
  position: absolute;
  inset: 0;
  inline-size: 100%;
  content: "";
  background-image: linear-gradient(
    rgb(10 10 10 / 50%),
    rgb(10 10 10 / 90%)
  );
  z-index: var(--z-index-floor);

}

.editorialGroup {
  grid-area: 1 / 1;
  inline-size: 100%;
  max-inline-size: 144rem;
  gap: var(--space-md);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: var(--z-index-header);
  padding-inline: var(--space-md);
}

.mainHeading {
  font-weight: 700;
  font-size: var(--fs-hero);
  color: var(--color-text-primary);
}

.subHeading {
  color: var(--color-text-primary);
  font-size: var(--fs-md);
  max-inline-size: 60rem;
}

.actionCluster {
  display: flex;
  background-color: inherit;
  border: none;
  gap: var(--space-sm)
}

.primaryAction,
.secondaryAction {
  background-color: inherit;
  padding-inline: var(--space-xs);
  padding-block: var(--space-xs);
  border-radius: 0.4rem;
  font-weight: 700;  
  cursor: pointer;
  min-block-size: 4.4rem;
  transition: background-color var(--transition-smooth, 0.2s ease-in-out), 
  border-color var(--transition-smooth, 0.2s ease-in-out);

}

.primaryAction {
  color: var(--color-accent);
  border: solid 0.1rem var(--color-accent);
}

.primaryAction:hover {
  background-color: var(--color-accent);
  color: var(--color-bg)
}

.secondaryAction {
  color: var(--color-accent-muted);
  border: solid 0.1rem var(--color-bg-surface);
}

.secondaryAction:hover {
  background-color: var(--color-border);
  color: var(--color-text-primary);
}

@media(width >= 76.8rem) {
  .heroShell {
    block-size: clamp(70rem, 80dvh, 90rem);
  }

    .editorialGroup {
      gap: var(--space-md) 
  }

  .subHeading {
  color: var(--color-text-primary);
  font-size: var(--fs-lg);
}

    .actionCluster {
      gap: var(--space-lg);
    }

    .primaryAction {
      padding-block: var(--space-xs);
      padding-inline: var(--space-md);
    }

    .secondaryAction {
      padding-block: var(--space-xs);
      padding-inline: var(--space-md);
    }
      
  }
}
