.hero {
  background-image: linear-gradient(rgb(0 0 0 / 50%), 
  rgb(0 0 0 / 50%)), url("../images/shoes-image/heroPicture.jpg");
  height: 100vh;
  background-position: 10%;
  background-repeat: no-repeat ;
  background-size:  cover ;
  position: relative;

}

.container {
  height: 80vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media(width <= 1000px) {
  .hero {
    height: 70vh;
  }

  .container {
    height: 60vh;
  }
}

.heading {
  font-weight: bolder;
  font-size: clamp(1.5rem, 6.5vw, 12rem);
  color: var(--color-text-primary);
}

.subHeading {
  color: var(--color-text-primary);
  font-size: clamp(0.9rem, 2.5vw, 3rem);
  margin: 1rem;
}

.actionNowContainer {
  display: flex;
  background-color: inherit;
  border: none;
  gap: 1rem;
}

.shopNow {
  background-color: inherit;
  padding: 0.5rem 0.6rem;
  color: var(--color-accent);
  border: solid 1px var(--color-accent);
  border-radius: 4px;
  font-weight: bold;  
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.shopNow:hover {
  background-color: var(--color-accent);
  color: var(--color-bg)
}

.exploreNow {
  background-color: inherit;
  padding: 0.5rem 0.8rem;
  color: var(--color-text-primary);
  border:solid 1px var(--color-text-primary);
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s, border 0.3s;
}

.exploreNow:hover {
  background-color: var(--color-surface);
  border:solid 1px var(--color-surface);
}

@media(width >=1000px) {
    .hero {
      height: 120vh;
    }

    .actionNowContainer {
      gap: 1rem;
    }

    .shopNow {
      padding: 1rem;
    }

    .exploreNow {
      padding: 1rem;
    }
      
  }
