  @layer components {
    .productCard {
    border: solid 5px var(--color-bg);
    display: grid;
    inline-size: 100%;
    grid-template-rows: 1fr 8rem;
    background-color: var(--color-surface);
    block-size: clamp(32rem, 40vw, 48rem);
    align-items: center;
  }

  .mediaWrapper {
    inline-size: 100%;
    block-size: 80%;
    min-block-size: 0;
  }

  .imageLink {
    display: block;
    inline-size: 100%;
    block-size: 100%;
  }

  .image {
    inline-size: 100%;
    block-size: 100%;
    object-fit: cover;
    object-position: center;

  }

  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.8rem;
    inline-size: 100%;
    block-size: 100%;

  }

  .title,
  .price {
    display: flex;
    font-weight: bold;
    padding-inline-start: var(--space-xs, 0.8rem);
    font-size: var(--fs-md, 1.4rem);
    color: var(--color-text-primary);
  }

  @media(width >= 76.8rem) {
    .productCard {
      min-block-size: clamp(48rem, 40vw, 64rem);
    }
  }
}

