@layer components {
    .headerContainer {
      position: relative;
      z-index: var(--z-index-drawer);

    }
    
    .headerViewport {
      position: relative;
      display: flex;
      justify-content: space-between;
      background-color: var(--color-bg-surface);
      padding-block: var(--space-xs);
      padding-inline: var(--space-xs);
    }

    .brandContainer {
      display: flex;
      flex-direction: row;
      justify-content: center;
      flex: 0 1 auto;
    }

    .brandLink {
      display: flex;
      align-items: center; 
      padding-inline: var(--space-xs);
    }

    .brandTitle {
      color: var(--color-accent);
      font-size: var(--fs-lg);
      font-weight: 700;
    }

    .burgerLineTop,
    .burgerLineMiddle,
    .burgerLineBottom {
      display: inline-block;
      background-color: var(--color-text-main);
      inline-size: 1.6rem;
      block-size: 0.2rem;
      border-radius: 1rem;
      transition: transform var(--transition-smooth), 
      opacity var(--transition-smooth);
    }
    
     .navigationToggle {
      flex: 0 1 auto;
      gap: 0.4rem;
      display: flex;
      align-items: flex-end;
      flex-direction: column;
      justify-content: center;
      background-color: transparent;
      border: none;
      cursor: pointer;
      padding-inline: var(--space-sm);
      padding-block: var(--space-sm) ;
    }

    .navigationToggleActive {
      z-index: calc(var(--z-index-drawer) + 1);
    }

    .navigationToggleActive .burgerLineTop {
      transform: translateY(0.6rem) rotate(-45deg);
    }

    .navigationToggleActive .burgerLineMiddle {
      opacity: 0;
    }

    .navigationToggleActive .burgerLineBottom {
      transform: translateY(-0.6rem) rotate(45deg);
    }

    .categoryItem {
      display: block;
    }

    .categoryLink {
      display: flex;
      justify-content: space-between;
      color: var(--color-accent);
      font-weight: 700;
      text-decoration: none;
    }

    .categoryLinkActive {
      color: var(--color-text-main);
    }
    
    .categoryLinkActive > .categoryLabel {
      color: var(--color-text-main);
    }

    .utilityLink {
      font-weight: 700;
      color: var(--color-accent);
      text-decoration: none;
    }

    .utilityLinkActive {
      color: var(--color-text-main);
    }
    
  @media (width <= 76.7rem) {  
    .navigationMenu {
      position: fixed;
      inset-block-start: 0;
      inset-inline-end: 0;
      inline-size: 100%;
      max-inline-size: 32rem;
      block-size: 100%;
      background-color: var(--color-bg-surface);
      z-index: var(--z-index-drawer);
      margin: 0 0 0 auto;
      padding: 0;
      border: none;
      transition: transform var(--transition-smooth), display var(--transition-smooth) allow-discrete;
      transform: translateX(100%);
      max-block-size: 100%;
    }

    .toggleViewport {
      display: flex;
      justify-content: flex-end;
      inline-size: 100%;
      padding-block-start: var(--space-xs);
      padding-inline-end: var(--space-xs)
    }

    .navigationMenu[open] {
      display: flex;
      flex-direction: column;
      transform: translateX(0%);

    }

    .navigationMenu::backdrop {
      background-color: rgb(0 0 0 / 50%);
      backdrop-filter: blur(var(--blur-md));
      opacity: 0;
      transition: opacity var(--transition-smooth),
      display var(--transition-smooth) allow-discrete;
    }

    .navigationMenu[open]::backdrop {
      opacity: 1;
    }

    .navigationGroup {
      display: flex;
      flex-direction: column;
      list-style-type: none;
      font-size: var(--fs-lg);
      padding-block-start: var(--space-xl);
      padding-inline: var(--space-md);
      gap: var(--space-md);
      inline-size: 100%;
    }

    .utilityMenu {
      display: flex;
      flex-direction: column;
      list-style: none;
    }

    .categoryViewPort {
      display: flex;
      flex-direction: column;
      inline-size: max-content;
      min-inline-size: 14rem;
    }

    .categoryMenu {
      display: flex;
      flex-direction: column;
      list-style: none;
    }
  }


    @media (width >= 76.8rem) {
    .headerContainer {
      display: flex;
      flex-direction: row;
      align-items: center;
      background-color: var(--color-bg-surface);
    }

    .headerViewport {
      display: flex;
    }

    .brandContainer {
      flex: 0 0 auto;
    }

    .navigationToggle {
      display: none;
    }

    .navigationMenu {
      background-color: var(--color-bg-surface);
      border: none;
      flex: 1 1 auto;
      position: absolute;
      inset-inline-start: 50%;
      display: flex;
      transform: translateX(-50%);
      justify-content: center;
      flex-direction: row;
    }

    .navigationGroup {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      list-style-type: none;
      font-weight: 700;
      gap: var(--space-md);

    }

    .categoryViewPort {
      display: flex;
      flex-direction: row;
      align-items: center;
    }

    .categoryMenu {
      gap: var(--space-sm);
      display: flex;
      flex-direction: row;
      list-style: none;
    }

    .categoryItem {
      display: block;
    }

    .categoryLabel {
      color: var(--color-accent);
    }
  
    .utilityMenu {
      display: flex;
      align-items: center;
      gap: var(--space-sm)
    }

    .utilityItem {
      display: block;
    }

  }
}
    

