@layer components {
    .headerContainer {
      position: relative;
      z-index: var(--z-index-drawer);

    }
    
    .header {
      position: relative;
      display: flex;
      justify-content: space-between;
      background-color: var(--color-bg-surface);
      padding-block: var(--space-xs);
      padding-inline: var(--space-xs);
    }

    .titleContainer {
      display: flex;
      flex-direction: row;
      justify-content: center;
      flex: 0 1 auto;
    }

    .titleLink {
      display: flex;
      align-items: center; 
      padding-inline: var(--space-xs);
    }

    .title {
      color: var(--color-accent);
      font-size: var(--fs-lg);
      font-weight: 700;
    }

    .menuDesignTop,
    .menuDesignMiddle,
    .menuDesignBottom {
      display: inline-block;
      background-color: var(--color-text-main);
      inline-size: 1.6rem;
      block-size: 0.2rem;
      border-radius: 1rem;
      transition: transform var(--transition-smooth), 
      opacity var(--transition-smooth);
    }
    
     .menuContainer {
      flex: 0 1 auto;
      gap: 0.4rem;
      display: flex;
      align-items: flex-end;
      flex-direction: column;
      justify-content: center;
      background-color: transparent;
      border: none;
      cursor: pointer;
      padding-inline: var(--space-sm);
      padding-block: var(--space-sm) ;
    }

    .menuContainerActive {
      z-index: calc(var(--z-index-drawer) + 1);
    }

    .menuContainerActive .menuDesignTop {
      transform: translateY(0.6rem) rotate(-45deg);
    }

    .menuContainerActive .menuDesignMiddle {
      opacity: 0;
    }

    .menuContainerActive .menuDesignBottom {
      transform: translateY(-0.6rem) rotate(45deg);
    }

    .categoryLi {
      display: block;
    }

    .containerName {
      display: flex;
      justify-content: space-between;
      color: var(--color-accent);
      font-weight: 700;
      text-decoration: none;
    }

    .containerNameActive {
      color: var(--color-text-main);
    }
    
    .containerNameActive > .categoryName {
      color: var(--color-text-main);
    }

    .menuName {
      font-weight: 700;
      color: var(--color-accent);
      text-decoration: none;
    }

    .menuNameActive {
      color: var(--color-text-main);
    }
    
  @media (width <= 76.7rem) {  
    .navMenu {
      position: fixed;
      inset-block-start: 0;
      inset-inline-end: 0;
      inline-size: 100%;
      max-inline-size: 32rem;
      block-size: 100%;
      background-color: var(--color-bg-surface);
      z-index: var(--z-index-drawer);
      margin: 0 0 0 auto;
      padding: 0;
      border: none;
      transition: transform var(--transition-smooth), display var(--transition-smooth) allow-discrete;
      transform: translateX(100%);
      max-block-size: 100%;
    }

    .navButtonContainer {
      display: flex;
      justify-content: flex-end;
      inline-size: 100%;
      padding-block-start: var(--space-xs);
      padding-inline-end: var(--space-xs)
    }

    .navMenu[open] {
      display: flex;
      flex-direction: column;
      transform: translateX(0%);

    }

    .navMenu::backdrop {
      background-color: rgb(0 0 0 / 50%);
      backdrop-filter: blur(var(--blur-md));
      opacity: 0;
      transition: opacity var(--transition-smooth),
      display var(--transition-smooth) allow-discrete;
    }

    .navMenu[open]::backdrop {
      opacity: 1;
    }

    .navUl {
      display: flex;
      flex-direction: column;
      list-style-type: none;
      font-size: var(--fs-lg);
      padding-block-start: var(--space-xl);
      padding-inline: var(--space-md);
      gap: var(--space-md);
      inline-size: 100%;
    }

    .menuContainerList {
      display: flex;
      flex-direction: column;
      list-style: none;
    }

    .productCategoryContainer {
      display: flex;
      flex-direction: column;
      inline-size: max-content;
      min-inline-size: 14rem;
    }

    .categoryUl {
      display: flex;
      flex-direction: column;
      list-style: none;
    }
  }


    @media (width >= 76.8rem) {
    .headerContainer {
      display: flex;
      flex-direction: row;
      align-items: center;
      background-color: var(--color-bg-surface);
    }

    .header {
      display: flex;
    }

    .titleContainer {
      flex: 0 0 auto;
    }

    .menuContainer {
      display: none;
    }

    .navMenu {
      background-color: var(--color-bg-surface);
      border: none;
      flex: 1 1 auto;
      position: absolute;
      inset-inline-start: 50%;
      display: flex;
      transform: translateX(-50%);
      justify-content: center;
      flex-direction: row;
    }

    .navUl {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      list-style-type: none;
      font-weight: 700;
      gap: var(--space-md);

    }

    .productCategoryContainer {
      display: flex;
      flex-direction: row;
      align-items: center;
    }

    .categoryUl {
      gap: var(--space-sm);
      display: flex;
      flex-direction: row;
      list-style: none;
    }

    .categoryLi {
      display: block;
    }

    .categoryName {
      color: var(--color-accent);
    }
  
    .menuContainerList {
      display: flex;
      align-items: center;
      gap: var(--space-sm)
    }

    .menuLi {
      display: block;
    }

  }
}
    

