@media(min-width:1000px) {
  .header {
    display: flex;
    align-items: center;
    padding: 2vw 2vw;
    gap: 2rem;

    background-color: var(--color-surface);
  }

  .menu-container {
    display: none;
  }

  .menu-toggle {
    display: none;
  }

  .nav-menu {
    flex: 1;
    display: flex;
    flex-direction: column;
  }

  .nav-ul {
    gap: 5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    font-size: 20px;
    font-weight: bold;
  }

  .close-toggle {
    display: none;
  }

  .product-category-container {
    display: flex;
    flex-direction: row;
    gap: 3vw;
    
  }
  
  .category-ul {
    display: contents;
  }
  .category-li {
    display: contents;
  }

  .category-name {
    font-size: 2vw;
    font-weight: bold;
    color: var(--color-accent);
  }

  .container-name {
    border-bottom: solid  2px transparent;
  }

  .container-name.active{
    color: var(--color-text-primary);
    border-bottom: solid 2px var(--color-text-primary);
  }

  .title-container-nav {
    display: none;
  }

  .title-container {
    width: fit-content;
  }

  .title {
    color: var(--color-accent)
  }
  .menu-container-list {
    display: flex;
    gap: 3vw;
  }
  .menu-li {
    display: contents;
  }
  .menu-name {
    font-weight: bold;
    font-size: 2vw;
    color: var(--color-accent);
    border-bottom: solid 2px transparent;
  }
  .menu-name.active {
    color: var(--color-text-primary);
    border-bottom: 2px solid var(--color-text-primary);
  }
}