@media(min-width:1000px) {
  .header {
    display: flex;
    align-items: center;
    padding: 2vw 2vw;
    gap: 2rem;

    background-color: var(--color-surface);
  }

  .menu-container {
    display: none;
  }

  .menu-toggle {
    display: none;
  }

  .nav-menu {
    flex: 1;

    display: flex;
    flex-direction: column;

  }

  .nav-ul {
    
    gap: 5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    list-style-type: none;

    font-size: 20px;
    font-weight: bold;
  }

  .close-toggle {
    display: none;
  }

  .product-category-container {
    display: flex;
    flex-direction: row;
    gap: 3vw;
    
  }
  .container-name {
    
  }
  .category-name {
    font-size: 2vw;
    font-weight: bold;
    color: var(--color-accent)

  }

  .title-container-nav {
    display: none;
  }

  .title-container {
    width: fit-content;
  }

  .title {
    color: var(--color-accent)
  }
  .menu-container-list {
    display: flex;
    gap: 3vw;
  }
  .menu-name {
    font-weight: bold;
    font-size: 2vw;
    color: var(--color-accent)
  }


}